html, body {
  margin: 0;
  padding: 0;
  background: url(http://amxxcs.ru/wp/OH1Cf1c.jpg) no-repeat fixed 100% 100%;
  background-size: cover;
}
 /* Welcome dialog that fires upon window load*/
#dialog {
  color: white;
  /* this is fixing the background resizing bug, but eliminates the animation. Not sure which is worse.
  position: absolute;
  top: -215px;*/
  border: 3px solid #9139A4;
  background: rgba(0,0,0,0.7); /* using rgba to dim background without affecting the text */
  font-family: Allerta, sans-serif;
  font-weight: bold;
  font-size: 18px;
  font-stretch: expanded;
}
#p1-win-dialog {
  color: white;
  border: 3px solid #9139A4;
  background: rgba(0,0,0,0.7); /* using rgba to dim background without affecting the text */
  font-family: Allerta, sans-serif;
  font-weight: bold;
  font-size: 40px;
  font-stretch: expanded;
  text-align: center;
  /*padding-top: 20px;*/
}

#p2-win-dialog {
  color: white;
  border: 3px solid #9139A4;
  background: rgba(0,0,0,0.7); /* using rgba to dim background without affecting the text */
  font-family: Allerta, sans-serif;
  font-weight: bold;
  font-size: 40px;
  font-stretch: expanded;
  text-align: center;
  /*padding-top: 20px;*/
}

.head-text {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: Orbitron, sans-serif;
}

.head-text h1 {
  font-weight: 500;
  font-stretch: extra-expanded;;
  font-size: 90px;
  margin-bottom: -10px;
  padding-bottom: -10px;
}

.head-text h4 {
  font-stretch: extra-expanded;
  font-weight: lighter;
  margin-top: 0;
  padding-top: 0;
}

.container {
  display: block;
  top: 20px;
  width: 100%;
  left: 5;
  right: 0;
  margin: 0 auto;
}

.blockOne {
  position: relative;
  left: -5px;
  width: 90px;
  height: 90px;
  margin: 5px;
}

.race-track {
  border-right: 3px dashed white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blockTwo {
  position: relative;
  left: -5px;
  width: 90px;
  height: 90px;
  margin: 5px;
}

.game-board img {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

  /* HUD image placement and style*/

.hud-container {
  background-color: black;
  opacity: .7;
}

.hud {
  position: relative;;
  margin-bottom: -30px;
  padding-bottom: -10px;
  margin-left: 0px;
  margin-right: 10px;
}
  /* HUD Overlay: Player info and stats*/
.player {
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.hud-overlay {
  margin-top: -220px;
  padding-top: -120px;
  margin-bottom: 80px;
  padding-bottom: 40px;
}

.overlay-content-p1 {
  margin-top: -170px;
  text-align: right;
  font-family: Orbitron, sans-serif;
}

.overlay-content-p1 img {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-right: 20px;
}

.overlay-content-p2 {
  margin-top: -170px;
  text-align: left;
  font-family: Orbitron, sans-serif;
}

.overlay-content-p2 img {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: 18px;
  margin-top: -12px;
}

.overlay-content-p2 h3 {
  margin-top: -8px;
  margin-left: -5px;
}

    /* Progress counter overlays */
.p1-progress-overlay {
  text-align: center;
  color: white;
  font-family: Allerta, sans-serif;
  margin-top: 60px;
  margin-left: 10px;
}

.p1-progress-overlay h2 {
  font-size: 55px;
}

.p2-progress-overlay {
  text-align: center;
  color: white;
  font-family: Allerta, sans-serif;
  margin-top: 60px;
  margin-right: 3px;
}

.p2-progress-overlay h2 {
  font-size: 55px;
}

button {
  margin-left: 205px;
  margin-top: -38px;
}

.btn {
  color: white;
  font-family: Allerta, sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 2px dashed #9139A4;
  background: rgba(0,0,0,0.7);
}

.btn:hover {
  color: white;
  font-family: Allerta, sans-serif;
  border: 2px solid #9139A4;
  background: rgba(48,175,209,0.7);
}

footer {
  margin-top: 80px;
}
