html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  top: 20px;
  width: 100%;
  left: 10;
  right: 0;
  margin: 0 auto;
}

.blockOne {
  position: relative;
  background-color: #abc;
  opacity: .8;
  left: 50px;
  width: 90px;
  height: 90px;
  margin: 5px;
}

.race-track {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(http://www.animatedimages.org/data/media/280/animated-star-image-0080.gif);
}

.blockTwo {
  position: relative;
  background-color: #abc;
  left: 50px;
  width: 90px;
  height: 90px;
  margin: 5px;
}
img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
